@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap&subset=cyrillic');


body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1em;
}

.power{
	width: 100%;
	float: left;
	background-color: #ffffff;
	border-radius: 30px;
	padding: 20px;
    box-shadow: none!important;
    border: #000 1px solid;
    min-height: 450px;
}

.power:hover {
	background-color: #87509f;
    color: white;
}


.choose_section_2{
    margin-top: 5%;
    width: 100%;
    float: left;
}

.read_bt{
	height: 50px;
    width: 100%;
    float: left;
    border-radius: 11px;
    border: 0px;
    color: #ffffff;
    background-color: #000;
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 30px;
}

.btn_main{
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.power{
    margin-top: 1em;
	width: 100%;
	float: left;
	background-color: #ffffff;
	border-radius: 30px;
	padding: 20px;
    box-shadow: 0px 0px 8px 0px;
}

.icon{
	text-align: center;
	margin-top: 40px;
}

.totaly_text{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;	
}


.making{
    font-family: 'Montserrat', sans-serif;
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 20px;	
	margin-left: 0;
    font-size: 19px!important;
}


.top-space {
    background-color: #F7EDF8;
    margin: 0;
}

.lead {
    margin-top: 0;
}

.block-link:hover, .block-link:visited, .block-link:link, .block-link:active {
    color: inherit;
    box-shadow: none;
    text-decoration: none;
}

#plans_svg {
    background-image: url("../images/plans.svg");
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
}

#heart_svg {
    background-image: url("../images/heart.svg");
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
}

#camera_svg {
    background-image: url("../images/camera.svg");
    display: inline-block;
    width: 100px;
    height: 100px;
    background-size: cover;
}

.choose_section_2 {
    margin-bottom: 5em;
}
