{% extends 'todo/base.html' %}

{% block content %}
	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Список наших дел.</h2>
		<p class="text-muted">
			Здесь будут все наши планы и задумки.
		</p>
	</div>
	<!-- /Intro-->
    <div class="reason"> 
        <a href="/todo/add/">Добавить Планы</a>
        <!-- Кнопка-триггер модального окна -->
        {% if todos %}
            {% for todo in todos %}
            <h1>
                <a href="/todo/{{ todo.id }}">{{todo.title}}</a>
            </h1>
    
                <p>{{ todo.content }}</p>
            {% endfor %}
        {% else %}
            <h1>?</h1>
            <p>Я не знаю что еще сказать..</p>
        {% endif %}
    </div>  
{% endblock %}


